:root {
    --c1: #444;
    --c2: #236364;
    --c3: #555;
    --c4: #fc6909;

    --light-c2-1: rgba(35, 99, 100, 0.8);
    --light-c2-2: rgba(35, 99, 100, 0.5);
    --light-c2-3: rgba(35, 99, 100, 0.2);
}

.bc-c1 {
    background-color: var(--c1);
}
.bc-c2 {
    background-color: var(--c2);
}
.bc-c3 {
    background-color: var(--c3);
}
.bc-c4 {
    background-color: var(--c4);
}
.c-c1 {
    color: var(--c1);
}
.c-c2 {
    color: var(--c2);
}
.c-c4 {
    color: var(--c4);
}

.bc-bttn-linear {
	position: relative;
	color: white;
    overflow: hidden;
	z-index: 0;
    text-transform: capitalize;

	&::before {
		content: "";
		position: absolute;
		inset: 0;
		background: linear-gradient(90deg, var(--c1) 0%, var(--c2) 100%);
		transition: opacity 0.4s ease-out;
		z-index: -1;
	}

	&::after {
		content: "";
		position: absolute;
		inset: 0;
		background: linear-gradient(90deg, #8f3aff 0%, #ff3c89 100%);
		opacity: 0;
		transition: opacity 0.4s ease-out;
		z-index: -1;
	}

	&:hover::after {
		opacity: 1;
	}
}

/*
<div class="Loader f-center" v-if="loading">
    <span class="spinner" ></span>
</div>

<div class="buttonSpinner" v-if="loading">
    <span class="spinner"></span>
</div> 
*/

.spinner {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: radial-gradient(farthest-side,#474bff 94%,#0000) top/9px 9px no-repeat,
            conic-gradient(#0000 30%,#474bff);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 7px),#000 0);
    animation: Spinner 1s infinite linear;
}
.buttonSpinner {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default !important;
    .spinner {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: radial-gradient( farthest-side, white 94%, #0000) top/9px 9px no-repeat,
            conic-gradient(#0000 30%, white);
        -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 5px),#000 0);
        animation: Spinner 1s infinite linear;
    }
}

@keyframes Spinner {
    100% {
        transform: rotate(1turn);
    }
}


.inactive {
    cursor: not-allowed;
    background-color: var(--Dark-Blue2);
    color: var(--Light-White2) !important;
}
.active {
    cursor: pointer;
    background-color: var(--Scnd-Blue);
    color: var(--White);
    &:hover {
        background-color: var(--Prim-Blue);
    }
}

.bc-shadow {
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100vh;
    width: 100%;
}